* {
    margin: 0;
    padding: 0;
}

.muzej-h2 {
    font-size: 60px;
    margin-left: 6vh;
    margin-bottom: 5vh;
}

.muzej-index {
    margin-left: 25vh;
    margin-top: 5vh;
}

.muzej-info {
    font-size: 30px;
    margin-bottom: 2vh;
    width: 30vh;
}

#button-save {
    font-size: 20px;
    margin-left: 7vh;
    width: 15vh;
}

.index-1 {
    display: flex;
}

.muzej-tabela-index {
    font-size: 25px;
    width: 130vh;
    margin-left: 15vh;
    margin-top: 20vh;
}

#search-value {
    width: 25vh;
    font-size: 22px;
}

#button-search {
    font-size: 22px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}