* {
    margin: 0;
    padding: 0;
}

.muzej-h2 {
    font-size: 60px;
    margin-left: 4vh;
    margin-bottom: 5vh;
}

.muzej-index {
    margin-left: 25vh;
    margin-top: 5vh;
}

.muzej-info {
    font-size: 30px;
    margin-bottom: 2vh;
}

#button-save {
    font-size: 20px;
    margin-left: 6vh;
    width: 12vh;
}

.index-1 {
    display: flex;
}

.muzej-tabela-index {
    font-size: 25px;
    width: 125vh;
    margin-left: 20vh;
    margin-top: 20vh;
}